{% extends "base.html.twig" %}

{% block body %}
    <div class="container container-table mt-5">
        <h1> Recuperat din Baza de Date </h1>
        <hr class="bg-warning"/>
        <h4> {{ post.title }} </h4>
        <p> {{ post.description }} </p>
    </div>
{% endblock %}