{% extends "base.html.twig" %}

{% block body %}

<h1> User name: {{name}} </h1>

<h3> {{ persoana['nume'] }} </h3>

<hr/>
<h4> {{ persoana.prenume }} - {{ persoana.varsta }} </h4>
 
{% endblock %}

{% block title %} 
    Bun venit
{% endblock %}

{# comentariu #}